/* TransactionHistory.module.css */
.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.transactionHistory thead{
  background-color: #f4f4f4;
}

.transactionHistory th,
.transactionHistory td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.transactionHistory tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transactionHistory tr:hover {
  background-color: #f1f1f1;
}

.transactionHistory td {
  font-size: 0.875rem;
  color: #333;
}



